@CHARSET "ISO-8859-1";

body {
	color: #fff !important;  
}

.section {
	width: 100%;
    min-height: 100%;
	height: auto;
    position: relative;
}

.section-wrapper {
	width: 100%;
	min-height: 100%;
	height: 100%;
	padding-right: 12%;
	display: table;
	vertical-align: bottom;
	padding-bottom: 20%;
	padding-top: 20%;
}

.section-content {
	height: 100%;
	text-align: right;
	bottom: 0;
	display: table-cell;
    vertical-align: bottom;
}

.overlay {
	display:block;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
	z-index:-100;
    background: rgb(66,66,66);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";       /* IE 8 */
    filter: alpha(opacity=50);  /* IE 5-7 */
    -moz-opacity: 0.5;          /* Netscape */
    -khtml-opacity: 0.5;        /* Safari 1.x */
    opacity: 0.5;               /* Good browsers */
}