@CHARSET "ISO-8859-1";

/* Background pattern from subtlepatterns.com */

@font-face {
    font-family: Alsscrp;
    src: url('./fonts/alsscrp.ttf');
}

@font-face {
    font-family: Rakesly;
    src: url('./fonts/rakesly-rg.ttf');
}

body {
	color: #fff !important;
	min-width: 340px;
}

h1, h2, h3 {
	font-family: Rakesly, 'Helvetica Neue', Arial, Helvetica, sans-serif;
	padding-bottom: 40px;
	font-size: 1.9em;
}

p, div {
	font-family: Alsscrp, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

iframe {
    display:block;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.section {
	width: 100%;
    min-height: 100%;
	height: auto;
    position: relative;
	text-align: center;
}

#fullpage {
    min-width: 360px;
}

.section-wrapper {
	width: 100%;
	min-height: 100%;
	height: 100%;
	padding-left: 20%;
	padding-right: 20%;
	display: table;
	vertical-align: bottom;
	padding-bottom: 35px;
	padding-top: 20%;
	
}

.section-content {
	width: 100%;
	height: 100%;
	bottom: 0;
	display: table-cell;
    vertical-align: bottom;
	text-align: center;
}

.overlay {
	display:block;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:-1;
    background: url(../images/px_by_Gre3g.png) repeat;
	opacity : 0.5; 
}

.names {
    font-size: 170%;
}

.location {
    font-size: 130%;
}

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    #fullpage {
        text-align: center;
    }
    .section-wrapper {
        vertical-align: top;
    }
    .section-content {
        text-align: center;
    }
    h1, h2, h3 {
        font-size: 1.9em;
    }
    .names {
        font-size: 170%;
    }
    
    .location {
        font-size: 130%;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
    #fullpage {
        text-align: center;
    }
    .section-wrapper {
       vertical-align: top;
    }
    .section-content {
        text-align: center;
    }
    h1, h2, h3 {
        font-size: 1.9em;
    }
    .names {
        font-size: 170%;
    }
    
    .location {
        font-size: 130%;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	
    .section-wrapper {
        vertical-align: bottom;
    }
    .section-content {
        text-align: right;
    }
    h1, h2, h3 {
        font-size: 250%;
    }
    .names {
        font-size: 300%;
    }
    .location {
        font-size: 120%;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .section-wrapper {
        vertical-align: bottom;
    }
    .section-content {
        text-align: right;
    }
    h1, h2, h3 {
       font-size: 350%;
    }
    .names {
        font-size: 400%;
    }
    .location {
        font-size: 180%;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .section-wrapper {
        vertical-align: bottom;
    }
    .section-content {
        text-align: right;
    }
    h1, h2, h3 {
       font-size: 350%;
    }
    .names {
        font-size: 400%;
    }
    
    .location {
        font-size: 180%;
    }
}
