@CHARSET "ISO-8859-1";

/* Background pattern from subtlepatterns.com */

@font-face {
    font-family: Alsscrp;
    src: url('./fonts/alsscrp.ttf');
}

@font-face {
    font-family: Rakesly;
    src: url('./fonts/rakesly-rg.ttf');
}

body {
	color: #fff !important;
	min-width: 290px;
}

h1, h2, h3 {
	font-family: Rakesly, 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size: 350%;
	padding-bottom: 20px;
}

p, div {
	font-family: Alsscrp, 'Helvetica Neue', Arial, Helvetica, sans-serif
}

iframe {
    display:block;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.section {
	width: 100%;
    min-height: 100%;
	height: auto;
    position: relative;
}

.section-wrapper {
	width: 100%;
	min-height: 100%;
	height: 100%;
	padding-left: 18%;
	padding-right: 18%;
	display: table;
	vertical-align: bottom;
	padding-bottom: 20%;
	padding-top: 20%;
}

.section-content {
	height: 100%;
	text-align: right;
	bottom: 0;
	display: table-cell;
    vertical-align: bottom;
}


.names {
	font-size: 400%;
}

.location {
	font-size: 200%;
}

.overlay {
	display:block;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:-1;
    background: url(../images/px_by_Gre3g.png) repeat;
	opacity : 0.5; 
}

@media screen and (max-width: 30em){
    .section-content {
        text-align: center;
    }
    h1, h2, h3 {
       font-size: 200%;
    }
    .names {
        font-size: 200%;
    }
    
    .location {
        font-size: 150%;
    }
}