/* It is recommended to place all your extra/additional CSS rules here */

@font-face {
    font-family: Alsscrp;
    src: url('./fonts/alsscrp.ttf');
}

@font-face {
    font-family: Rakesly;
    src: url('./fonts/rakesly-rg.ttf');
}

h1, h2, h3, h4, h5, .title {
    font-family: Rakesly, 'Helvetica Neue', Arial, Helvetica, sans-serif !important;
}

p {
    font-family: Alsscrp, 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size: 1.8em;
}

#main-content .feature-text .btn-lg {
	font-size: 0.25em;
}

.link-scroll {
    font-family: Alsscrp, 'Helvetica Neue', Arial, Helvetica, sans-serif !important;
    font-size: 1.5em;
}

input, button, select, textarea {
	color: #000;
}